:root {
    --purple: rgb(152, 68, 252);
    --white: rgb(255, 255, 255);
    --darkGray: rgb(41, 41, 41);
    }
h1, h2, h3 {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-style: normal;
}
h1 {
    font-size: 7.5vw;
    margin: 0px;
}
h2 {
    font-size: 4vw;
    margin: 0px;
}
h3 {
    font-size: 2.8vw;
    margin: 0px;
}
h3.smaller {
    font-size: 2.5vw;
}
p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2vw;
    margin: 0px;
    line-height: 3vw;
}
p.small {
    font-size: 1.8vw;
}
p.smaller {
    font-size: 1.5vw;
}
p.tiny {
    font-size: 1.35vw;
    line-height: 1.7vw;
}
.heavier {
    font-weight: 700;
}
.center {
    text-align: center;
}
.lighter {
    font-weight: lighter;
}
.nudgeUp {
    margin-bottom: 0.3vw;
}
.nudgeLeft {
    margin-left: 0.3vw;
}
.whiteText {
    color: var(--white);
}
.purpleText {
    color: var(--purple);
}
a {
    color: inherit;
    text-decoration: inherit;
}
header {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: var(--white);
    height: 5vw;
    position: sticky;
    top: 0;
    z-index: 50;
}
body {
    background-color: var(--white);
    color: var(--darkGray);
    margin: 0px;
    display: grid;
    row-gap: 0px;
}
main {
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}
.menuBar, .splashScreen, .aboutMe, .skillBox, .skills, .sectionL, .sectionR, .contactMe, .contact, .reviewBox {
    display: inline-grid;
    row-gap: 0px;
    width: 100%;
}
.menuBar {
    height: 5vw;
    grid-template-columns: 7vw 20vw auto 13vw 11vw 11vw 11vw;
    grid-template-areas:
    "Avatar Name . AboutMe Projects Reviews Contact";
}
.splashScreen.top {
    height: 35vw;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 14vw 8vw 13vw;
    grid-template-areas:
    ". . ."
    ". Ani ."
    ". Tag .";
}
.splashScreen.bottom {
    height: 25vw;
    grid-template-columns: 35vw 30vw 35vw;
    grid-template-rows: 4.5vw auto;
    grid-template-areas:
    ". Work Line1"
    ". . Line2";
}
.splashScreen.bottom {
    height: 25vw;
    grid-template-columns: 35vw 30vw 35vw;
    grid-template-rows: 4.5vw auto;
    grid-template-areas:
    ". Work Line1"
    ". . Line2";
}
.checkOut {
    height: 4.5vw;
    grid-template-columns: 1vw auto 3vw 3vw 1vw;
    grid-template-rows: 4.5vw;
    grid-template-areas:
    ". Check . Arrow .";
}
.aboutMe.blurb {
    height: 35vw;
    grid-template-columns: 5vw auto 35vw 5vw;
    grid-template-rows: 4.5vw auto;
    grid-template-areas:
    ". Title Avatar ."
    ". TextBox1 Avatar .";
}
.aboutMe.skills {
    height: 27.5vw;
    grid-template-columns: 5vw 1fr 7vw 1fr 7vw 1fr 5vw;
    grid-template-rows: 2.5vw 1fr 2.5vw 1fr;
    grid-template-areas:
    ". . . . . . ."
    ". Skill1 . Skill2 . Skill3 ."
    ". . . . . . ."
    ". Skill4 . Skill5 . Skill6 .";
}
.skillBox {
    height: 11.5vw;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 2.5fr;
    grid-template-areas:
    "Icon SkillTitle"
    ". Info";
}
.sectionR {
    height: 70vw;
    grid-template-columns: 1fr 2fr 5vw;
    grid-template-rows: 30vw 11.5vw 3.5vw 22vw 3vw;
    grid-template-areas:
    "Line Picture ."
    "Line SubHeader ."
    "Line Client ."
    "Line TextBox ."
    "Line ReadMore .";
}
.sectionL {
    height: 70vw;
    grid-template-columns: 10vw 2fr 1fr;
    grid-template-rows: 30vw 11.5vw 3.5vw 22vw 3vw;
    grid-template-areas:
    ". Picture Line"
    ". SubHeader Line"
    ". Client Line"
    ". TextBox Line"
    ". ReadMore Line";
}
.reviews {
    height: 33vw;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 5vw 25vw;
    grid-template-areas:
    ". . ."
    "Prev Reviews Next";
}
.reviewWrapper {
    display: grid;
    height: 25vw;
    grid-template-columns: 5vw 22vw auto 5vw;
    grid-template-rows: 3vw 3vw auto;
    grid-template-areas:
    ". . . ."
    ". Avatar Title ."
    ". Avatar TextBox1 .";
}
.contactMe {
    height: 35vw;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 5vw 30vw;
    grid-template-areas:
    ". LineS ."
    ". Contact .";
    margin-bottom: 3vw;
}
.contact {
    height: 30vw;
    grid-template-columns: 5vw 7vw auto 5vw;
    grid-template-rows: 1.5vw 6vw 3.5vw 1vw 6vw 6vw 6vw;
    grid-template-areas:
    ". . . ."
    ". SubHeader SubHeader ."
    ". TextBox TextBox ."
    ". . . ."
    ". Icon1 Link1 ."
    ". Icon2 Link2 ."
    ". Icon3 Link3 .";
}
.horizontalLine {
    height: 12vw;
    width: 100%;
}
.horizontalLineBottom {
    display: none;
}
.areaAni, .areaTag, .areaWork, .areaTextBox1, .horizontalLine, .contact.icon, .reviews, .prev, .next {
    display: inline-grid;
    align-items: center;
    justify-items: center;
}
.areaName {
    grid-area: Name;
    margin-top: 0.5vw;
}
.areaAboutMe {
    grid-area: AboutMe;
    margin-top: 0.9vw;
}
.areaProjects {
    grid-area: Projects;
    margin-top: 0.9vw;
}
.areaReviews {
    grid-area: Reviews;
    margin-top: 0.9vw;
}
.areaContact {
    grid-area: Contact;
    margin-top: 0.9vw;
}
.areaAni {
    grid-area: Ani;
}
.areaTag {
    grid-area: Tag;
}
.areaWork {
    grid-area: Work;
}
.areaCheck {
    grid-area: Check;
}
.areaArrow {
    grid-area: Arrow;
    font-size: 2.5vw;
}
.areaLine1 {
    grid-area: Line1;
    position: relative;
}
.areaLine2 {
    grid-area: Line2;
    position: relative;
}
.areaTitle {
    grid-area: Title;
    position: relative;
}
.areaTextBox1 {
    grid-area: TextBox1;
}
.areaAvatar {
    grid-area: Avatar;
    position: relative;
}
.areaSkill1 {
    grid-area: Skill1;
}
.areaSkill2 {
    grid-area: Skill2;
}
.areaSkill3 {
    grid-area: Skill3;
}
.areaSkill4 {
    grid-area: Skill4;
}
.areaSkill5 {
    grid-area: Skill5;
}
.areaSkill6 {
    grid-area: Skill6;
}
.areaIcon {
    grid-area: Icon;
}
.areaSkillTitle {
    grid-area: SkillTitle;
    margin-top: 1.5vw;
}
.areaInfo {
    grid-area: Info;
}
.areaSubHeader {
    grid-area: SubHeader;
}
.pictureL, .pictureR {
    grid-area: Picture;
}
.areaClient {
    grid-area: Client;
}
.areaTextBox {
    grid-area: TextBox;
}
.areaReadMore {
    grid-area: ReadMore;
}
.areaLine {
    grid-area: Line;
    position: relative;
}
.areaContact {
    grid-area: Contact;
}
.areaLineShort {
    grid-area: LineS;
}
.areaIcon1 {
    grid-area: Icon1;
}
.areaIcon2 {
    grid-area: Icon2;
}
.areaIcon3 {
    grid-area: Icon3;
}
.areaLink1 {
    grid-area: Link1;
}
.areaLink2 {
    grid-area: Link2;
}
.areaLink3 {
    grid-area: Link3;
}
.areaReviewBox {
    grid-area: Reviews;
}
.areaPrev {
    grid-area: Prev;
}
.areaNext {
    grid-area: Next;
}
.purple {
    background-color: var(--purple);
}
.rounded {
    border-radius: 2vw;
}
.roundedWork {
    border-radius: 1.5vw;
}
.purpleBox {
    background-color: var(--purple);
    border-radius: 0.5vw;
    width: 17.5vw;
    height: 2.5vw;
    margin-left: -0.5vw;
    margin-top: -2vw;
}
.circle, .circleReview, .circleMenu {
    border-radius: 50%;
    background-color: var(--white);
    border: 0.2vw solid var(--darkGray);
    filter: drop-shadow(-2.5vw 1vw var(--purple));
}
.circle {
    width: 25vw;
    height: 25vw;
    margin-left: 10vw;
    margin-top: 3vw;
}
.circleReview {
    filter: drop-shadow(-1.7vw 0.7vw var(--purple));
    width: 18vw;
    height: 18vw;
}
.circleMenu {
    filter: drop-shadow(-0.5vw 0.2vw var(--purple));
    border: 0.1vw solid var(--darkGray);
    margin-left: 2.5vw;
    margin-top: 0.8vw;
    width: 3vw;
    height: 3vw;
}
.circle img {
    width: 25vw;
    margin-top: 0.5vw;
}
.circleReview img {
    width: 18vw;
    filter: none;
}
.circleMenu img {
    width: 3vw;
}
.pictureR, .pictureL {
    border-radius: 4vw;
    background-color: var(--white);
    width: 60vw;
    height: 25vw;
    margin-bottom: 4vw;
}
.pictureR {
    filter: drop-shadow(-1.5vw 2.5vw var(--purple));
}
.pictureL {
    filter: drop-shadow(1.5vw 2.5vw var(--purple));
}
picture img {
    border-radius: 3vw;
    width: 60vw;
    height: 25vw;
    border: none;
    filter: none;
}
.contact {
    border-radius: 3vw;
    background-color: var(--purple);
    width: 65vw;
    height: 30vw;
    z-index: -20;
}
.reviewBox {
    border-radius: 3vw;
    border: 0.25vw solid var(--purple);
    background-color: var(--white);
    width: 70vw;
    height: 25vw;
    z-index: -20;
}
.prev, .next {
    border-radius: 50%;
    border: 0.25vw solid var(--purple);
    width: 4vw;
    height: 4vw;
}
.prev .purpleText, .next .purpleText {
    font-size: 2.5vw;
}
.skillBox .icon {
    margin-left: 1.2vw;
    margin-top: 1.2vw;
}
.icon img {
    width: 4vw;
    height: 4vw;
}
.icon .whiteText {
    font-size: 4.5vw;
}
.squish {
    -webkit-transform: scaleX(0.9);
    transform: scaleX(0.9);
}
.lineH, .lineHtop {
    height: 0.3vw;
    background: repeating-linear-gradient(90deg,var(--darkGray) 0 0.7vw ,transparent 0 1vw) center;
    background-size:100% 0.3vw;
    background-repeat:no-repeat;
    z-index: -20;
}
.lineH {
    width: 60.7vw;
}
.lineHtop {
    width: 12vw;
    margin-left: 3vw;
    margin-top: 2vw;
}
.lineV, .lineVtop, .lineL, .lineR, .lineShort {
    width: 0.3vw;
    background: repeating-linear-gradient(to bottom,var(--darkGray) 0 0.7vw,transparent 0 1vw) 100% 0.3vw no-repeat;
    position: absolute;
    z-index: -20;
}
.lineV {
    height: 58.6vw;
    margin-left: 20.3vw;
    margin-top: 10vw;
}
.lineVtop {
    height: 30vw;
    margin-left: 15vw;
    margin-top: -2.7vw;
}
.lineR {
    height: 82.6vw;
    margin-left: 10vw;
    margin-top: -6.3vw;
}
.lineL {
    height: 82.6vw;
    margin-left: 19.5vw;
    margin-top: -6.3vw;
}
.lineShort {
    height: 8.5vw;
    margin-left: 30vw;
    margin-top: -8.5vw;
}
.blankFooter {
    height: 5vw
}
@media all and (orientation:portrait) {
    h1 {
        font-size: 13vw;
        margin: 0px;
    }
    h2 {
        font-size: 5.5vw;
        margin: 0px;
    }
    h2.mobile {
        font-size: 6.5vw;
        line-height: 7.5vw;
        margin-top: 2vw;
    }
    h3 {
        font-size: 4vw;
        margin: 0px;
    }
    h3.smaller {
        font-size: 4vw;
    }
    p {
        font-size: 3.5vw;
        margin: 0px;
        line-height: 6vw;
    }
    p.small {
        font-size: 2.5vw;
        line-height: 3.5vw;
        margin-top: 1vw;
    }
    p.small.mobile {
        font-size: 3.5vw;
        line-height: 5vw;
    }
    p.smaller {
        font-size: 2vw;
    }
    p.tiny {
        font-size: 2.4vw;
        line-height: 2.9vw;
    }
    .areaArrow.whiteText {
        font-size: 4vw;
    }
    .areaTitle .heavier {
        font-size: 7.5vw;
        vertical-align: middle;
        line-height: 25vw;
    }
    .subHeader h2 {
        font-size: 7vw;
    }
    header {
        height: 8vw;
    }
    .menuBar {
        height: 8vw;
        grid-template-columns: 7vw 27vw auto 18vw 14vw 14vw 14vw;
    }
    .splashScreen.top {
        height: 73vw;
        grid-template-columns: 0.5fr 4fr 0.5fr;
        grid-template-rows: 40vw 15vw 18vw;
    }
    .splashScreen.bottom {
        height: 60vw;
        grid-template-columns: 27.5vw 45vw 27.5vw;
        grid-template-rows: 2vw 6vw auto;
        grid-template-areas:
        ". . ."
        ". Work Line1"
        ". . Line2";
    }
    .checkOut {
        height: 8vw;
        grid-template-columns: 2vw auto 2vw 4vw 2vw;
        grid-template-rows: 8vw;
    }
    .aboutMe.blurb {
        height: 100vw;
        grid-template-columns: 12vw auto 30vw 12vw;
        grid-template-rows: 25vw auto;
        grid-template-areas:
        ". Title Avatar ."
        ". TextBox1 TextBox1 .";
    }
    .aboutMe.skills {
        height: 70vw;
        grid-template-columns: 12vw 1fr 7vw 1fr 12vw;
        grid-template-rows: 3vw 1fr 3vw 1fr 3vw 1fr;
        grid-template-areas:
        ". . . . ."
        ". Skill1 . Skill2 ."
        ". . . . ."
        ". Skill3 . Skill4 ."
        ". . . . ."
        ". Skill5 . Skill6 .";
    }
    .skillBox {
        height: 21vw;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 2.5fr;
    }
    .sectionR {
        height: 155vw;
        grid-template-columns: 15vw auto 12vw;
        grid-template-rows: 50vw 28vw 7vw 63vw 7vw;
    }
    .sectionL {
        height: 155vw;
        grid-template-columns: 12vw auto 15vw;
        grid-template-rows: 50vw 28vw 7vw 63vw 7vw;
    }
    .reviews {
        height: 62vw;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 5vw 55vw;
        grid-template-areas:
        ". . ."
        "Prev Reviews Next";
    }
    .reviewWrapper {
        display: grid;
        height: 55vw;
        grid-template-columns: 5vw 27vw auto 5vw;
        grid-template-rows: 3vw 22vw auto;
        grid-template-areas:
        ". . . ."
        ". Avatar Title ."
        ". TextBox1 TextBox1 .";
    }
    .contactMe {
        height: 55vw;
        grid-template-columns: 1fr 80vw 1fr;
        grid-template-rows: 5vw 50vw;
    }
    .contact {
        height: 50vw;
        grid-template-columns: 8vw 7vw auto 8vw;
        grid-template-rows: 1.5vw 10vw 10vw 1vw 8vw 8vw 8vw;
        border-radius: 4vw;
        width: 80vw;
    }
    .horizontalLine {
        height: 20vw;
    }
    .horizontalLineBottom {
        display: grid;
        position: relative;
        height: 12vw;
        width: 100%;
        grid-template-columns: 48vw 4vw 48vw;
        grid-template-areas:
        ". LineVB LineHB";
    }
    .lineHbottom, .lineVbottom {
        align-items: center;
        justify-items: center;
    }
    .lineHbottom {
        grid-area: LineHB;
        height: 0.5vw;
        background: repeating-linear-gradient(90deg,var(--darkGray) 0 1vw ,transparent 0 1.3vw) center;
        background-size:100% 0.5vw;
        background-repeat:no-repeat;
        width: 43vw;
        margin-left: -2vw;
        margin-top: 10.5vw;
        z-index: -20;
    }
    .lineVbottom {
        grid-area: LineVB;
        width: 0.5vw;
        background: repeating-linear-gradient(to bottom,var(--darkGray) 0 1vw,transparent 0 1.3vw) 100% 0.5vw no-repeat;
        position: absolute;
        height: 8vw;
        margin-left: 2vw;
        margin-top: 10vw;
        z-index: -20;
    }
    .icon img {
        width: 6vw;
        height: 6vw;
    }
    .circle {
        margin-left: 3vw;
        margin-top: 0vw;
    }
    .circleReview {
        filter: drop-shadow(-2vw 1vw var(--purple));
        width: 22vw;
        height: 22vw;
    }
    .circleMenu {
        margin-left: 2.5vw;
        margin-top: 1.5vw;
        width: 4vw;
        height: 4vw;
    }
    .circleReview img {
        width: 22vw;
    }
    .circleMenu img {
        width: 4vw;
    }
    .purpleBox {
        width: 33vw;
        height: 4vw;
        margin-left: -1vw;
        margin-top: -11vw;
    }
    .lineH, .lineHtop {
        height: 0.5vw;
        background: repeating-linear-gradient(90deg,var(--darkGray) 0 1vw ,transparent 0 1.3vw) center;
        background-size:100% 0.5vw;
        background-repeat:no-repeat;
        z-index: -20;
    }
    .lineV, .lineVtop, .lineL, .lineR, .lineShort {
        width: 0.5vw;
        background: repeating-linear-gradient(to bottom,var(--darkGray) 0 1vw,transparent 0 1.3vw) 100% 0.5vw no-repeat;
        position: absolute;
        z-index: -20;
    }
    .lineH {
        width: 86vw;
    }
    .lineHtop {
        width: 17.5vw;
        margin-left: 3vw;
        margin-top: 3.7vw;
    }
    .lineV {
        height: 0vw;
    }
    .lineVtop {
        height: 234vw;
        margin-left: 20.1vw;
        margin-top: -2.7vw;
    }
    .lineR {
        height: 176.4vw;
        margin-left: 7.4vw;
        margin-top: -10.6vw;
    }
    .lineL {
        height: 176.4vw;
        margin-left: 7vw;
        margin-top: -10.7vw;
    }
    .lineShort {
        height: 8vw;
        margin-left: 40vw;
        margin-top: -8vw;
    }
    .pictureR, .pictureL {
        border-radius: 7vw;
        width: 73vw;
        height: 45vw;
        margin-bottom: 4vw;
    }
    .pictureR {
        filter: drop-shadow(-2.5vw 4vw var(--purple));
    }
    .pictureL {
        filter: drop-shadow(2.5vw 4vw var(--purple));
    }
    picture img {
        border-radius: 6vw;
        width: 73vw;
        height: 45vw;
    }
    .reviewBox {
        border-radius: 4vw;
        border: 0.3vw solid var(--purple);
        height: 55vw;
    }
    .prev, .next {
        border-radius: 50%;
        border: 0.3vw solid var(--purple);
        width: 7vw;
        height: 7vw;
    }
    .prev .purpleText, .next .purpleText {
        font-size: 4vw;
    }
}