:root {
    --purple: rgb(152, 68, 252);
    --white: rgb(255, 255, 255);
    --darkGray: rgb(41, 41, 41);
    }
h1, h2, h3 {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-style: normal;
}
h1 {
    font-size: 7.5vw;
    margin: 0px;
}
h2 {
    font-size: 4vw;
    margin: 0px;
}
h3 {
    font-size: 2.8vw;
    margin: 0px;
}
h3.smaller {
    font-size: 2.5vw;
}
p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2vw;
    margin: 0px;
    line-height: 3vw;
}
p.small {
    font-size: 1.8vw;
}
p.smaller {
    font-size: 1.5vw;
}
p.tiny {
    font-size: 1.35vw;
    line-height: 1.7vw;
}
.heavier {
    font-weight: 700;
}
.center {
    text-align: center;
}
.lighter {
    font-weight: lighter;
}
.nudgeUp {
    margin-bottom: 0.3vw;
}
.nudgeLeft {
    margin-left: 0.3vw;
}
.whiteText {
    color: var(--white);
}
.purpleText {
    color: var(--purple);
}
a {
    color: inherit;
    text-decoration: inherit;
}
header {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: var(--white);
    height: 5vw;
    position: sticky;
    top: 0;
    z-index: 50;
}
body {
    background-color: var(--white);
    margin: 0px;
    display: grid;
    row-gap: 0px;
}
.contentWrapper {
    display: grid;
}
main {
    background-color: var(--white);
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}
.scrollButton {
    display: none;
    position: fixed;
    bottom: 5vw;
    right: 1.5vw;
    z-index: 99;
    font-size: 3vw;
    line-height: 4.5vw;
    height: 4.5vw;
    width: 4.55vw;
    border-radius: 50%;
    background-color: var(--white);
    color: var(--purple);
    border: 0.3vw dashed var(--purple);
    text-align: center;
    cursor: pointer;
}
.menuBar, .splashScreen, .aboutMe, .skillBox, .skills, .sectionL, .sectionR, .contactMe, .contact, .reviewBox {
    display: inline-grid;
    row-gap: 0px;
}
.menuBar {
    height: 5vw;
    grid-template-columns: 7vw 20vw 27vw 13vw 11vw 11vw 11vw;
    grid-template-areas:
    "Avatar Name . AboutMe Projects Reviews ContactMenu";
}
.splashScreen.top {
    height: 50vh;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto 8vw 13vw;
    grid-template-areas:
    ". . ."
    ". Ani ."
    ". Tag .";
}
.splashScreen.bottom {
    height: 45vh;
    grid-template-columns: 35vw 30vw 35vw;
    grid-template-rows: 4.5vw auto;
    grid-template-areas:
    ". Work Line1"
    ". . Line2";
}
.checkOut {
    height: 4.5vw;
    grid-template-columns: 1vw auto 3vw 3vw 1vw;
    grid-template-rows: 4.5vw;
    grid-template-areas:
    ". Check . Arrow .";
}
.aboutMe.blurb {
    height: 35vw;
    grid-template-columns: 5vw auto 35vw 5vw;
    grid-template-rows: 4.5vw auto;
    grid-template-areas:
    ". Title Avatar ."
    ". TextBox1 Avatar .";
}
.aboutMe.skills {
    height: 27.5vw;
    grid-template-columns: 5vw 1fr 7vw 1fr 7vw 1fr 5vw;
    grid-template-rows: 2.5vw 1fr 2.5vw 1fr;
    grid-template-areas:
    ". . . . . . ."
    ". Skill1 . Skill2 . Skill3 ."
    ". . . . . . ."
    ". Skill4 . Skill5 . Skill6 .";
}
.skillBox {
    height: 11.5vw;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 2.5fr;
    grid-template-areas:
    "Icon SkillTitle"
    ". Info";
    z-index: 5;
}
.sectionR {
    height: 70vw;
    grid-template-columns: 1fr 2fr 5vw;
    grid-template-rows: 30vw 11.5vw 3.5vw 22vw 3vw;
    grid-template-areas:
    "Line Picture ."
    "Line SubHeader ."
    "Line Client ."
    "Line TextBox ."
    "Line ReadMore .";
}
.sectionL {
    height: 70vw;
    grid-template-columns: 10vw 2fr 1fr;
    grid-template-rows: 30vw 11.5vw 3.5vw 22vw 3vw;
    grid-template-areas:
    ". Picture Line"
    ". SubHeader Line"
    ". Client Line"
    ". TextBox Line"
    ". ReadMore Line";
}
.reviews {
    height: 34vw;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 6vw 25vw;
    grid-template-areas:
    ". . ."
    "Prev Reviews Next";
}
.reviewWrapper {
    display: grid;
    height: 25vw;
    grid-template-columns: 5vw 22vw auto 5vw;
    grid-template-rows: 3vw 3vw auto;
    grid-template-areas:
    ". . . ."
    ". Avatar Title ."
    ". Avatar TextBox1 .";
}
.contactMe {
    height: 36vw;
    grid-template-columns: 17.5vw 65vw 17.5vw;
    grid-template-rows: 6vw 30vw;
    grid-template-areas:
    ". LineS ."
    ". Contact .";
    margin-bottom: 3vw;
}
.contact {
    height: 30vw;
    grid-template-columns: 5vw 7vw auto 5vw;
    grid-template-rows: 1.5vw 6vw 3.5vw 1vw 6vw 6vw 6vw;
    grid-template-areas:
    ". . . ."
    ". SubHeader SubHeader ."
    ". TextBox TextBox ."
    ". . . ."
    ". Icon1 Link1 ."
    ". Icon2 Link2 ."
    ". Icon3 Link3 .";
}
.horizontalLine {
    height: 12vw;
    width: 100%;
}
.horizontalLineBottom {
    display: none;
}
.areaAni, .areaTag, .areaWork, .areaTextBox1, .horizontalLine, .contact.icon, .reviews, .prev, .next {
    display: inline-grid;
    align-items: center;
    justify-items: center;
}
.areaName {
    grid-area: Name;
    margin-top: 0.5vw;
}
.areaAboutMe {
    grid-area: AboutMe;
    margin-top: 0.9vw;
}
.areaProjects {
    grid-area: Projects;
    margin-top: 0.9vw;
}
.areaReviews {
    grid-area: Reviews;
    margin-top: 0.9vw;
}
.areaContactMenu {
    grid-area: ContactMenu;
    margin-top: 0.9vw;
}
.areaPopup {
    display: none;
}
.areaAni {
    grid-area: Ani;
}
.areaTag {
    grid-area: Tag;
}
.areaWork {
    grid-area: Work;
}
.areaCheck {
    grid-area: Check;
}
.areaArrow {
    grid-area: Arrow;
    font-size: 2.5vw;
}
.areaLine1 {
    grid-area: Line1;
    position: relative;
}
.areaLine2 {
    grid-area: Line2;
    position: relative;
}
.areaTitle {
    grid-area: Title;
    position: relative;
}
.areaTextBox1 {
    grid-area: TextBox1;
}
.areaAvatar {
    grid-area: Avatar;
    position: relative;
}
.areaSkill1 {
    grid-area: Skill1;
}
.areaSkill2 {
    grid-area: Skill2;
}
.areaSkill3 {
    grid-area: Skill3;
}
.areaSkill4 {
    grid-area: Skill4;
}
.areaSkill5 {
    grid-area: Skill5;
}
.areaSkill6 {
    grid-area: Skill6;
}
.areaIcon {
    grid-area: Icon;
}
.areaSkillTitle {
    grid-area: SkillTitle;
    margin-top: 1.5vw;
}
.areaInfo {
    grid-area: Info;
}
.areaSubHeader {
    grid-area: SubHeader;
}
.pictureL, .pictureR {
    grid-area: Picture;
}
.areaClient {
    grid-area: Client;
}
.areaTextBox {
    grid-area: TextBox;
}
.areaReadMore {
    grid-area: ReadMore;
}
.areaLine {
    grid-area: Line;
    position: relative;
}
.areaContact {
    grid-area: Contact;
}
.areaLineShort {
    grid-area: LineS;
}
.areaIcon1 {
    grid-area: Icon1;
}
.areaIcon2 {
    grid-area: Icon2;
}
.areaIcon3 {
    grid-area: Icon3;
}
.areaLink1 {
    grid-area: Link1;
}
.areaLink2 {
    grid-area: Link2;
}
.areaLink3 {
    grid-area: Link3;
}
.areaReviewBox {
    grid-area: Reviews;
}
.areaPrev {
    grid-area: Prev;
}
.areaNext {
    grid-area: Next;
}
.purple {
    background-color: var(--purple);
}
.rounded {
    border-radius: 2vw;
}
.roundedWork {
    border-radius: 1.5vw;
}
.purpleBox {
    background-color: var(--purple);
    border-radius: 0.5vw;
    width: 17.5vw;
    height: 2.5vw;
    margin-left: -0.5vw;
    margin-top: -2vw;
}
.circle, .circleReview, .circleMenu {
    border-radius: 50%;
    background-color: var(--white);
    border: 0.2vw solid var(--darkGray);
    filter: drop-shadow(-2.5vw 1vw var(--purple));
}
.circle {
    width: 25vw;
    height: 25vw;
    margin-left: 10vw;
    margin-top: 3vw;
}
.circleReview {
    filter: drop-shadow(-1.7vw 0.7vw var(--purple));
    width: 18vw;
    height: 18vw;
}
.circleMenu {
    filter: drop-shadow(-0.5vw 0.2vw var(--purple));
    border: 0.1vw solid var(--darkGray);
    margin-left: 2.5vw;
    margin-top: 0.8vw;
    width: 3vw;
    height: 3vw;
}
.circle img {
    width: 25vw;
    margin-top: 0.5vw;
}
.circleReview img {
    width: 18vw;
    filter: none;
}
.circleMenu img {
    width: 3vw;
}
.pictureR, .pictureL {
    width: 60vw;
    height: 25vw;
    margin-bottom: 4vw;
}
.pictureR {
    filter: drop-shadow(-1.5vw 2.5vw var(--purple));
}
.pictureL {
    filter: drop-shadow(1.5vw 2.5vw var(--purple));
}
picture img {
    border-radius: 3vw;
    outline: 0.3vw solid var(--darkGray);
    outline-offset: -0.2vw;
    width: 60vw;
    height: 25vw;
    filter: none;
}
.contact {
    border-radius: 3vw;
    background-color: var(--purple);
    width: 65vw;
    height: 30vw;
}
.reviewBox {
    border-radius: 3vw;
    border: 0.25vw solid var(--purple);
    background-color: var(--white);
    width: 70vw;
    height: 25vw;
}
.prev, .next {
    border-radius: 50%;
    border: 0.25vw solid var(--purple);
    width: 4vw;
    height: 4vw;
}
.prev .purpleText, .next .purpleText {
    font-size: 2.5vw;
}
.skillBox .icon {
    margin-left: 1.2vw;
    margin-top: 1.2vw;
}
.icon img {
    width: 4vw;
    height: 4vw;
}
.icon .whiteText {
    font-size: 4.5vw;
}
.squish {
    -webkit-transform: scaleX(0.9);
    transform: scaleX(0.9);
}
.lineH, .lineHtop {
    height: 0.3vw;
    background: repeating-linear-gradient(90deg,var(--darkGray) 0 0.7vw, var(--white) 0 1vw) center;
    background-size:100% 0.3vw;
    background-repeat:no-repeat;
}
.lineH {
    width: 60.7vw;
}
.lineHtop {
    width: 12vw;
    margin-left: 3vw;
    margin-top: 2vw;
}
.lineV, .lineVtop, .lineL, .lineR, .lineShort {
    width: 0.3vw;
    background: repeating-linear-gradient(to bottom,var(--darkGray) 0 0.7vw, var(--white) 0 1vw) 100% 0.3vw no-repeat;
    position: absolute;
}
.lineV {
    height: 58.6vw;
    margin-left: 20.3vw;
    margin-top: 10vw;
}
.lineVtop {
    height: 50vh;
    margin-left: 15vw;
    margin-top: -2.7vw;
}
.lineR {
    height: 82.6vw;
    margin-left: 10vw;
    margin-top: -6.3vw;
}
.lineL {
    height: 82.6vw;
    margin-left: 19.5vw;
    margin-top: -6.3vw;
}
.lineShort {
    height: 8.5vw;
    margin-left: 30vw;
    margin-top: -8.5vw;
}
.blankFooter {
    height: 5vw
}
@media screen and (orientation:portrait) {
    h1 {
        font-size: 13vw;
        margin: 0px;
    }
    h2 {
        font-size: 5.5vw;
        margin: 0px;
    }
    h2.mobile {
        font-size: 6.5vw;
        line-height: 7.5vw;
        margin-top: 5vw;
    }
    h3 {
        font-size: 4vw;
        margin: 0px;
    }
    h3.smaller {
        font-size: 4vw;
    }
    p {
        font-size: 3.5vw;
        margin: 0px;
        line-height: 6vw;
    }
    p.small {
        font-size: 2.5vw;
        line-height: 3.5vw;
        margin-top: 1vw;
    }
    p.small.mobile {
        font-size: 3.5vw;
        line-height: 5vw;
    }
    p.smaller {
        font-size: 2vw;
    }
    p.tiny {
        font-size: 2.4vw;
        line-height: 2.9vw;
    }
    p.lighter {
        font-weight: normal;
    }
    .areaArrow.whiteText {
        font-size: 4vw;
    }
    .areaArrow.purpleText {
        font-size: 3.5vw;
    }
    .areaTitle .heavier {
        font-size: 7.5vw;
        vertical-align: middle;
        line-height: 25vw;
    }
    .subHeader h2 {
        font-size: 7vw;
    }
    .scrollButton {
        bottom: 10vw;
        right: 3.75vw;
        font-size: 4vw;
        line-height: 6vw;
        height: 6vw;
        width: 6vw;
        border: 0.4vw dashed var(--purple);
    }
    header {
        height: 8vw;
    }
    .menuBar {
        height: 8vw;
        grid-template-columns: 10vw 30vw 52vw 8vw;
        grid-template-areas:
        "Avatar Name . Popup";
    }
    .areaAboutMe {
        display: none;
    }
    .areaProjects {
        display: none;
    }
    .areaReviews {
        display: none;
    }
    .areaContactMenu {
        display: none;
    }
    .areaAboutMePopup {
        grid-area: AboutMePop;
    }
    .areaProjectsPopup {
        grid-area: ProjectsPop;
    }
    .areaReviewsPopup {
        grid-area: ReviewsPop;
    }
    .areaContactPopup {
        grid-area: ContactPop;
    }
    .areaPopup {
        grid-area: Popup;
        display: grid;
        position: relative;
    }
    .areaName {
        margin-top: 1vw;
    }
    #menuPopup {
        visibility: hidden;
        width: 20vw;
        height: 25vw;
        background-color: var(--white);
        color: var(--darkGray);
        text-align: right;
        position: absolute;
        grid-template-columns: auto;
        grid-template-rows: 4vw 4vw 4vw 4vw;
        grid-template-areas:
        "AboutMePop"
        "ProjectsPop"
        "ReviewsPop"
        "ContactPop";
        z-index: 10;
        margin-left: -16.5vw;
        margin-top: 8vw;
        border-bottom-left-radius: 4vw;
    }
    #menuPopup.show {
        visibility: visible;
    }
    .burgerBars {
        font-size: 4vw;
        margin-top: 2vw;
    }
    .splashScreen.top {
        grid-template-columns: 0.5fr 4fr 0.5fr;
        grid-template-rows: auto 14vw 16vw;
    }
    .splashScreen.bottom {
        grid-template-columns: 27.5vw 45vw 27.5vw;
        grid-template-rows: 2vw 6vw auto;
        grid-template-areas:
        ". . ."
        ". Work Line1"
        ". . Line2";
    }
    .checkOut {
        height: 8vw;
        grid-template-columns: 2vw auto 2vw 4vw 2vw;
        grid-template-rows: 8vw;
    }
    .aboutMe.blurb {
        height: 100vw;
        grid-template-columns: 12vw auto 30vw 12vw;
        grid-template-rows: 25vw auto;
        grid-template-areas:
        ". Title Avatar ."
        ". TextBox1 TextBox1 .";
    }
    .aboutMe.skills {
        height: 70vw;
        grid-template-columns: 12vw 1fr 7vw 1fr 12vw;
        grid-template-rows: 3vw 1fr 3vw 1fr 3vw 1fr;
        grid-template-areas:
        ". . . . ."
        ". Skill1 . Skill2 ."
        ". . . . ."
        ". Skill3 . Skill4 ."
        ". . . . ."
        ". Skill5 . Skill6 .";
    }
    .skillBox {
        height: 21vw;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 2.5fr;
    }
    .sectionR {
        height: 155vw;
        grid-template-columns: 15vw auto 12vw;
        grid-template-rows: 50vw 28vw 7vw 63vw 7vw;
    }
    .sectionL {
        height: 155vw;
        grid-template-columns: 12vw auto 15vw;
        grid-template-rows: 50vw 28vw 7vw 63vw 7vw;
    }
    .areaClient {
        margin-top: 2vw;
    }
    .reviews {
        height: 62vw;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 5vw 55vw;
        grid-template-areas:
        ". . ."
        "Prev Reviews Next";
    }
    .reviewWrapper {
        display: grid;
        height: 55vw;
        grid-template-columns: 5vw 27vw auto 5vw;
        grid-template-rows: 3vw 22vw auto;
        grid-template-areas:
        ". . . ."
        ". Avatar Title ."
        ". TextBox1 TextBox1 .";
    }
    .contactMe {
        height: 56vw;
        grid-template-columns: 10vw 80vw 10vw;
        grid-template-rows: 6vw 50vw;
    }
    .contact {
        height: 50vw;
        grid-template-columns: 8vw 7vw auto 8vw;
        grid-template-rows: 1.5vw 10vw 10vw 1vw 8vw 8vw 8vw;
        border-radius: 4vw;
        width: 80vw;
    }
    .horizontalLine {
        height: 20vw;
    }
    .horizontalLineBottom {
        display: grid;
        position: relative;
        height: 12vw;
        width: 100%;
        grid-template-columns: 48vw 4vw 48vw;
        grid-template-areas:
        ". LineVB LineHB";
    }
    .lineHbottom, .lineVbottom {
        align-items: center;
        justify-items: center;
    }
    .lineHbottom {
        grid-area: LineHB;
        height: 0.5vw;
        background: repeating-linear-gradient(90deg,var(--darkGray) 0 1vw ,transparent 0 1.3vw) center;
        background-size:100% 0.5vw;
        background-repeat:no-repeat;
        width: 43vw;
        margin-left: -2vw;
        margin-top: 10.5vw;
    }
    .lineVbottom {
        grid-area: LineVB;
        width: 0.5vw;
        background: repeating-linear-gradient(to bottom,var(--darkGray) 0 1vw,transparent 0 1.3vw) 100% 0.5vw no-repeat;
        position: absolute;
        height: 7.5vw;
        margin-left: 2vw;
        margin-top: 10vw;
    }
    .icon img {
        width: 6vw;
        height: 6vw;
    }
    .circle {
        margin-left: 3vw;
        margin-top: 0vw;
    }
    .circleReview {
        filter: drop-shadow(-2vw 1vw var(--purple));
        width: 22vw;
        height: 22vw;
    }
    .circleMenu {
        margin-left: 2.5vw;
        margin-top: 1.5vw;
        width: 4vw;
        height: 4vw;
    }
    .circleReview img {
        width: 22vw;
    }
    .circleMenu img {
        width: 4vw;
    }
    .purpleBox {
        width: 33vw;
        height: 4vw;
        margin-left: -1vw;
        margin-top: -11vw;
    }
    .lineH, .lineHtop {
        height: 0.5vw;
        background: repeating-linear-gradient(90deg,var(--darkGray) 0 1vw ,transparent 0 1.3vw) center;
        background-size:100% 0.5vw;
        background-repeat:no-repeat;
    }
    .lineV, .lineVtop, .lineL, .lineR, .lineShort {
        width: 0.5vw;
        background: repeating-linear-gradient(to bottom,var(--darkGray) 0 1vw,transparent 0 1.3vw) 100% 0.5vw no-repeat;
        position: absolute;
    }
    .lineH {
        width: 86vw;
    }
    .lineHtop {
        width: 17.5vw;
        margin-left: 3vw;
        margin-top: 3.7vw;
    }
    .lineV {
        height: 0vw;
    }
    .lineVtop {
        height: 234.9vw;
        margin-left: 20.1vw;
        margin-top: -2.7vw;
    }
    .lineR {
        height: 176.4vw;
        margin-left: 7.4vw;
        margin-top: -10.7vw;
    }
    .lineL {
        height: 176.4vw;
        margin-left: 7vw;
        margin-top: -10.7vw;
    }
    .lineShort {
        height: 8vw;
        margin-left: 40vw;
        margin-top: -8vw;
    }
    .pictureR, .pictureL {
        width: 73vw;
        height: 45vw;
        margin-bottom: 4vw;
    }
    .pictureR {
        filter: drop-shadow(-2.5vw 4vw var(--purple));
    }
    .pictureL {
        filter: drop-shadow(2.5vw 4vw var(--purple));
    }
    picture img {
        border-radius: 6vw;
        outline: 0.4vw solid var(--darkGray);
        outline-offset: -0.3vw;
        width: 73vw;
        height: 45vw;
    }
    .reviewBox {
        border-radius: 4vw;
        border: 0.3vw solid var(--purple);
        height: 55vw;
    }
    .prev, .next {
        border-radius: 50%;
        border: 0.3vw solid var(--purple);
        width: 7vw;
        height: 7vw;
    }
    .prev .purpleText, .next .purpleText {
        font-size: 4vw;
    }
}
@media screen and (orientation:portrait) and (max-width: 500px) {
    h1 {
        font-size: 15vw;
        margin: 0px;
    }
    h2 {
        font-size: 6vw;
        margin: 0px;
    }
    h2.mobile {
        font-size: 8vw;
        line-height: 8.5vw;
        margin-top: 3vw;
    }
    .tagline h2 {
        line-height: 8vw;
    }
    h3 {
        font-size: 5.5vw;
        margin: 0px;
    }
    h3.smaller {
        font-size: 5vw;
    }
    h3.mobile {
        font-size: 9vw;
        margin-top: 4vw;
    }
    p {
        font-size: 4vw;
        margin: 0px;
        line-height: 7vw;
    }
    p.small {
        font-size: 3vw;
        line-height: 4vw;
        margin-top: 1vw;
    }
    p.small.mobile {
        font-size: 4vw;
        line-height: 6vw;
    }
    p.smaller {
        font-size: 2.5vw;
    }
    p.tiny {
        font-size: 4vw;
        line-height: 8vw;
        margin-top: 3vw;
        margin-right: 5vw;
    }
    p.lighter {
        font-weight: normal;
    }
    .areaArrow.whiteText {
        font-size: 4vw;
    }
    .areaArrow.purpleText {
        font-size: 3.5vw;
    }
    .areaTitle .heavier {
        font-size: 8vw;
        vertical-align: middle;
        line-height: 25vw;
    }
    .subHeader h2 {
        font-size: 9vw;
    }
    header {
        height: 12vw;
    }
    .menuBar {
    height: 12vw;
    grid-template-columns: 12vw 35vw 43vw 10vw;
    grid-template-areas:
    "Avatar Name . Popup";
    }
    .areaName {
        margin-top: 3vw;
    }
    #menuPopup {
        width: 23vw;
        height: 30vw;
        grid-template-rows: 5vw 5vw 5vw 5vw;
        margin-left: -17vw;
        margin-top: 11vw;
    }
    .burgerBars {
        font-size: 6vw;
        margin-top: 3.5vw;
    }
    .splashScreen.top {
        grid-template-columns: 5vw 90vw 5vw;
        grid-template-rows: auto 17vw 20vw;
    }
    .splashScreen.bottom {
        grid-template-columns: 25vw 50vw 25vw;
        grid-template-rows: 2vw 8vw auto;
    }
    .checkOut {
        height: 8vw;
        grid-template-columns: 2vw auto 2vw 4vw 2vw;
        grid-template-rows: 8vw;
    }
    .aboutMe.blurb {
        height: 125vw;
        grid-template-rows: 28vw auto;
    }
    .aboutMe.skills {
        height: 50vw;
        display: flex;
        overflow: scroll;
        padding-left: 6.5vw;
        padding-right: 13vw;
        grid-template-columns: 100vw;
        grid-template-rows: 50vw;
        grid-template-areas: 
        "Skill1 Skill2 Skill3 Skill4 Skill5 Skill6";
    }
    .skillBox {
        display: inline-grid;
        height: 50vw;
        width: 70vw;
        margin-left: 5vw;
        grid-template-columns: 20vw 50vw;
        grid-template-rows: 15vw auto;
    }
    .sectionR {
        height: 183vw;
        grid-template-rows: 58vw 35vw 10vw 73vw 7vw;
    }
    .sectionL {
        height: 183vw;
        grid-template-rows: 58vw 35vw 10vw 73vw 7vw;
    }
    .reviews {
        height: 72vw;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 5vw 65vw;
        grid-template-areas:
        ". . ."
        "Prev Reviews Next";
    }
    .reviewWrapper {
        display: grid;
        height: 65vw;
        grid-template-columns: 7vw 27vw auto 7vw;
        grid-template-rows: 5vw 22vw auto;
        grid-template-areas:
        ". . . ."
        ". Avatar Title ."
        ". TextBox1 TextBox1 .";
    }
    .contactMe {
        height: 56vw;
        grid-template-columns: 15vw 70vw 15vw;
        grid-template-rows: 6vw 55vw;
    }
    .contact {
        height: 55vw;
        grid-template-columns: 8vw 7vw auto 8vw;
        grid-template-rows: 3vw 12vw 12vw 1vw 8vw 8vw 8vw;
        border-radius: 4vw;
        width: 70vw;
    }
    .horizontalLine {
        height: 20vw;
    }
    .horizontalLineBottom {
        display: grid;
        position: relative;
        height: 12vw;
        width: 100%;
        grid-template-columns: 48vw 4vw 48vw;
        grid-template-areas:
        ". LineVB LineHB";
    }
    .lineHbottom {
        width: 43vw;
    }
    .lineH, .lineHtop {
        height: 0.5vw;
        background: repeating-linear-gradient(90deg,var(--darkGray) 0 1vw ,transparent 0 1.3vw) center;
        background-size:100% 0.5vw;
        background-repeat:no-repeat;
    }
    .lineV, .lineVtop, .lineL, .lineR, .lineShort {
        width: 0.5vw;
        background: repeating-linear-gradient(to bottom,var(--darkGray) 0 1vw,transparent 0 1.3vw) 100% 0.5vw no-repeat;
        position: absolute;
    }
    .lineVbottom {
        height: 7vw;
    }
    .lineH {
        width: 86vw;
    }
    .lineHtop {
        width: 15.2vw;
        margin-left: 3vw;
        margin-top: 3.7vw;
    }
    .lineVtop {
        height: calc(45vh + 180vw);
        margin-left: 18vw;
        margin-top: -4.8vw;
    }
    .lineR {
        height: 204.7vw;
    }
    .lineL {
        height: 204.7vw;
    }
    .lineShort {
        margin-left: 35vw;
    }
    .pictureR, .pictureL {
        height: 50vw;
    }
    .pictureR {
        filter: drop-shadow(-2.8vw 5vw var(--purple));
    }
    .pictureL {
        filter: drop-shadow(2.8vw 5vw var(--purple));
    }
    picture img {
        height: 50vw;
    }
    .reviewBox {
        border: 0.3vw solid var(--purple);
        height: 65vw;
    }
    .circleMenu {
        margin-left: 3.3vw;
        margin-top: 2.8vw;
        width: 6vw;
        height: 6vw;
    }
    .circleMenu img {
        width: 6vw;
    }
    .icon img {
        width: 12vw;
        height: 12vw;
        margin-left: 2.5vw;
        margin-top: 2.5vw;
    }
    .rounded.skillBox {
        border-radius: 5vw;
    }
    .purpleBox {
        width: 34vw;
    }
}
@media screen and (orientation: landscape) and (min-width: 1400px) {
    body {
        background-color: var(--darkGray);
    }
    .contentWrapper {
        grid-area: Content;
        display: grid;
        background-color: var(--white);
        width: 1200px;
        height: 750px;
        margin-top: calc((100vh - 750px)/2);
        margin-left: calc((100vw - 1200px)/2);
        overflow: scroll;
    }
    h1, h2, h3 {
        font-family: "Playfair Display", serif;
        font-weight: 600;
        font-style: normal;
    }
    h1 {
        font-size: 90px;
        margin: 0px;
    }
    h2 {
        font-size: 45px;
        margin: 0px;
    }
    h2.heavier {
        font-size: 50px;
    }
    h3 {
        font-size: 26px;
        margin-top: -5px;
    }
    h3.lighter {
        font-size: 32px;
    }
    h3.smaller {
        font-size: 32px;
    }
    p {
        font-size: 20px;
        line-height: 40px;
    }
    p.small {
        font-size: 22px;
    }
    p.smaller {
        font-size: 16px;
    }
    p.tiny {
        font-size: 16px;
        line-height: 20px;
    }
    .heavier {
        font-weight: 700;
    }
    .nudgeUp {
        margin-bottom: 3.5px;
    }
    .nudgeLeft {
        margin-left: 3.5px;
    }
    header {
        height: 50px;
    }
    .scrollButton {
        display: none;
        position: fixed;
        bottom: calc(100vh - 700px - (((100vh - 750px)/2)));
        right: calc(100vw - 1150px - (((100vw - 1200px)/2)));;
        font-size: 40px;
        line-height: 45px;
        height: 40px;
        width: 40px;
        border: 3px dashed var(--purple);
    }
    .menuBar {
        height: 50px;
        margin-top: 5px;
        grid-template-columns: 60px 200px 520px 120px 100px 100px 100px;
        grid-template-areas:
        "Avatar Name . AboutMe Projects Reviews ContactMenu";
    }
    .splashScreen.top {
        height: 445px;
        width: 1200px;
        grid-template-columns: 240px 720px 240px;
        grid-template-rows: auto 100px 150px;
        grid-template-areas:
        ". . ."
        ". Ani ."
        ". Tag .";
    }
    .splashScreen.bottom {
        height: 250px;
        width: 1200px;
        grid-template-columns: 425px 350px 425px;
        grid-template-rows: 5px 50px auto;
        grid-template-areas:
        ". . ."
        ". Work Line1"
        ". . Line2";
    }
    .checkOut {
        height: 50px;
        grid-template-columns: auto 35px 10px;
        grid-template-rows: 50px;
        grid-template-areas:
        "Check Arrow .";
    }
    .aboutMe.blurb {
        height: 420px;
        width: 1200px;
        grid-template-columns: 60px auto 420px 60px;
        grid-template-rows: 54px auto;
        grid-template-areas:
        ". Title Avatar ."
        ". TextBox1 Avatar .";
    }
    .aboutMe.skills {
        height: 330px;
        width: 1200px;
        grid-template-columns: 60px 1fr 84px 1fr 84px 1fr 60px;
        grid-template-rows: 30px 1fr 30px 1fr;
        grid-template-areas:
        ". . . . . . ."
        ". Skill1 . Skill2 . Skill3 ."
        ". . . . . . ."
        ". Skill4 . Skill5 . Skill6 .";
    }
    .skillBox {
        height: 138px;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 2.5fr;
        grid-template-areas:
        "Icon SkillTitle"
        ". Info";
        z-index: 5;
    }
    .sectionR {
        height: 840px;
        width: 1200px;
        grid-template-columns: 1fr 2fr 100px;
        grid-template-rows: 360px 138px 42px 264px 36px;
        grid-template-areas:
        "Line Picture ."
        "Line SubHeader ."
        "Line Client ."
        "Line TextBox ."
        "Line ReadMore .";
    }
    .sectionL {
        height: 840px;
        width: 1200px;
        grid-template-columns: 100px 2fr 1fr;
        grid-template-rows: 360px 138px 42px 264px 36px;
        grid-template-areas:
        ". Picture Line"
        ". SubHeader Line"
        ". Client Line"
        ". TextBox Line"
        ". ReadMore Line";
    }
    .reviews {
        height: 420px;
        width: 1200px;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 72px 300px;
        grid-template-areas:
        ". . ."
        "Prev Reviews Next";
    }
    .reviewWrapper {
        display: grid;
        height: 300px;
        grid-template-columns: 60px 265px auto 60px;
        grid-template-rows: 36px 36px auto;
        grid-template-areas:
        ". . . ."
        ". Avatar Title ."
        ". Avatar TextBox1 .";
    }
    .contactMe {
        height: 432px;
        width: 1200px;
        grid-template-columns: 210px 780px 210px;
        grid-template-rows: 72px 300px;
        grid-template-areas:
        ". LineS ."
        ". Contact .";
        margin-bottom: 36px;
        position: relative;
    }
    .contact {
        height: 300px;
        grid-template-columns: 60px 85px auto 60px;
        grid-template-rows: 18px 72px 42px 12px 72px 72px 72px;
        grid-template-areas:
        ". . . ."
        ". SubHeader SubHeader ."
        ". TextBox TextBox ."
        ". . . ."
        ". Icon1 Link1 ."
        ". Icon2 Link2 ."
        ". Icon3 Link3 .";
    }
    .areaName {
        margin-top: 6px;
    }
    .areaAboutMe {
        margin-top: 0;
    }
    .areaProjects {
        margin-top: 0;
    }
    .areaReviews {
        margin-top: 0;
    }
    .areaContactMenu {
        margin-top: 0;
    }
    .areaArrow {
        font-size: 30px;
    }
    .areaSkillTitle {
        margin-top: 18px;
    }
    .horizontalLine {
        height: 144px;
        width: 100%;
    }
    .rounded {
        border-radius: 25px;
    }
    .roundedWork {
        border-radius: 15px;
    }
    .purpleBox {
        border-radius: 7px;
        width: 210px;
        height: 30px;
        margin-left: -6px;
        margin-top: -24px;
    }
    .circle, .circleReview, .circleMenu {
        border: 2px solid var(--darkGray);
        filter: drop-shadow(-20px 10px var(--purple));
    }
    .circle {
        width: 300px;
        height: 300px;
        margin-left: 120px;
        margin-top: 36px;
    }
    .circleReview {
        filter: drop-shadow(-20px 8.5px var(--purple));
        width: 215px;
        height: 215px;
    }
    .circleMenu {
        filter: drop-shadow(-4px 2px var(--purple));
        border: 1px solid var(--darkGray);
        margin-left: 20px;
        margin-top: 5px;
        width: 25px;
        height: 25px;
    }
    .circle img {
        width: 300px;
        margin-top: 6px;
    }
    .circleReview img {
        width: 215px;
        filter: none;
    }
    .circleMenu img {
        width: 25px;
    }
    .pictureR, .pictureL {
        width: 720px;
        height: 300px;
        margin-bottom: 48px;
    }
    .pictureR {
        filter: drop-shadow(-18px 30px var(--purple));
    }
    .pictureL {
        filter: drop-shadow(18px 30px var(--purple));
    }
    picture img {
        border-radius: 40px;
        outline: 2px solid var(--darkGray);
        outline-offset: -2px;
        width: 720px;
        height: 300px;
        filter: none;
    }
    .contact {
        border-radius: 40px;
        background-color: var(--purple);
        width: 780px;
        height: 360px;
    }
    .reviewBox {
        border-radius: 40px;
        border: 3px solid var(--purple);
        background-color: var(--white);
        width: 840px;
        height: 300px;
    }
    .prev, .next {
        border-radius: 50%;
        border: 3px solid var(--purple);
        width: 48px;
        height: 48px;
    }
    .prev .purpleText, .next .purpleText {
        font-size: 36px;
    }
    .skillBox .icon {
        margin-left: 15px;
        margin-top: 15px;
    }
    .icon img {
        width: 48px;
        height: 48px;
    }
    .icon .whiteText {
        font-size: 54px;
    }
    .squish {
        -webkit-transform: scaleX(0.9);
        transform: scaleX(0.9);
    }
    .lineH, .lineHtop {
        height: 3px;
        background: repeating-linear-gradient(90deg,var(--darkGray) 0 8.5px, var(--white) 0 12px) center;
        background-size:100% 3px;
        background-repeat:no-repeat;
    }
    .lineH {
        width: 756px;
    }
    .lineHtop {
        width: 144px;
        margin-left: 36px;
        margin-top: 24px;
    }
    .lineV, .lineVtop, .lineL, .lineR, .lineShort {
        width: 3px;
        background: repeating-linear-gradient(to bottom,var(--darkGray) 0 8.5px, var(--white) 0 12px) 100% 3px no-repeat;
        position: absolute;
    }
    .lineV {
        height: 703px;
        margin-left: 255px;
        margin-top: 120px;
    }
    .lineVtop {
        height: 375px;
        margin-left: 180px;
        margin-top: -29px;
    }
    .lineR {
        height: 990px;
        margin-left: 140px;
        margin-top: -75.5px;
    }
    .lineL {
        height: 990px;
        margin-left: 222px;
        margin-top: -75.5px;
    }
    .lineShort {
        height: 120px;
        margin-left: 390px;
        margin-top: -120px;
    }
    .blankFooter {
        height: 20px
    }
}